.gradle
/build/

.idea

# Directory that contains shaded build files (ready to run)
output

# Working directory for bot testing
.environment

# I use this directory for storing needful scripts. Do not remove. ~winston
scripts

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
